@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import '@fontsource/bebas-neue';

body {
  font-family: 'Bebas Neue', sans-serif;
}

img{
  max-width: 100%;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
}